openapi: 3.2.0
info:
  title: Fortify on Demand Microservices API
  description: REST API for Fortify on Demand (FoD), the cloud-based application security testing service from OpenText. Provides programmatic access to manage applications, releases, initiate static, dynamic, and mobile scans, retrieve vulnerability results, and manage tenant-level settings. Supports OAuth2 client credentials and resource owner password grant flows for authentication.
  version: v3
  contact:
    name: OpenText Fortify Support
    url: https://www.opentext.com/support
    email: fortify-support@microfocus.com
  license:
    name: Proprietary
    url: https://www.opentext.com/about/legal/website-terms-of-use
  x-logo:
    url: https://www.microfocus.com/brand/fortify-logo.png
servers:
- url: https://api.ams.fortify.com
  description: Fortify on Demand - Americas
- url: https://api.emea.fortify.com
  description: Fortify on Demand - EMEA
- url: https://api.apac.fortify.com
  description: Fortify on Demand - APAC
security:
- bearerAuth: []
tags:
- name: Microservices
  description: Manage microservices within applications
paths:
  /api/v3/applications/{applicationId}/microservices:
    get:
      operationId: listApplicationMicroservices
      summary: Fortify List application microservices
      description: Retrieves a list of microservices associated with the specified application.
      tags:
      - Microservices
      parameters:
      - $ref: '#/components/parameters/ApplicationId'
      - name: includeReleases
        in: query
        description: Whether to include release information for each microservice
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response with list of microservices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: createApplicationMicroservice
      summary: Fortify Create application microservice
      description: Adds a new microservice to the specified application.
      tags:
      - Microservices
      parameters:
      - $ref: '#/components/parameters/ApplicationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMicroserviceRequest'
      responses:
        '201':
          description: Microservice created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMicroserviceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    MicroserviceListResponse:
      type: object
      description: List of microservices
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Microservice'
        totalCount:
          type: integer
          format: int32
    Microservice:
      type: object
      description: Represents a microservice within an application
      properties:
        microserviceId:
          type: integer
          format: int32
          description: Unique identifier of the microservice
        microserviceName:
          type: string
          description: Name of the microservice
        applicationId:
          type: integer
          format: int32
          description: Identifier of the parent application
    ErrorResponse:
      type: object
      description: Error response
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              errorCode:
                type: integer
                format: int32
              message:
                type: string
    PostMicroserviceRequest:
      type: object
      description: Request body for creating a microservice
      required:
      - microserviceName
      properties:
        microserviceName:
          type: string
          description: Name of the microservice
    PostMicroserviceResponse:
      type: object
      description: Response after creating a microservice
      properties:
        microserviceId:
          type: integer
          format: int32
        success:
          type: boolean
  responses:
    NotFound:
      description: Not found - the specified resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized - authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden - insufficient permissions or scopes
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request - invalid parameters or request body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    ApplicationId:
      name: applicationId
      in: path
      required: true
      description: Unique identifier of the application
      schema:
        type: integer
        format: int32
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 Bearer token obtained from POST /oauth/token using either client_credentials or password grant type.
externalDocs:
  description: Fortify on Demand API Reference
  url: https://api.ams.fortify.com/swagger/ui/index
