openapi: 3.1.0
info:
  title: Fortify on Demand Alert Definitions Projects API
  description: REST API for Fortify on Demand (FoD), the cloud-based application security testing service from OpenText. Provides programmatic access to manage applications, releases, initiate static, dynamic, and mobile scans, retrieve vulnerability results, and manage tenant-level settings. Supports OAuth2 client credentials and resource owner password grant flows for authentication.
  version: v3
  contact:
    name: OpenText Fortify Support
    url: https://www.opentext.com/support
    email: fortify-support@microfocus.com
  license:
    name: Proprietary
    url: https://www.opentext.com/about/legal/website-terms-of-use
  x-logo:
    url: https://www.microfocus.com/brand/fortify-logo.png
servers:
- url: https://api.ams.fortify.com
  description: Fortify on Demand - Americas
- url: https://api.emea.fortify.com
  description: Fortify on Demand - EMEA
- url: https://api.apac.fortify.com
  description: Fortify on Demand - APAC
security:
- bearerAuth: []
tags:
- name: Projects
  description: Manage top-level projects
paths:
  /projects:
    get:
      operationId: listProjects
      summary: Fortify List projects
      description: Retrieves a paginated list of projects. Projects are the top-level organizational unit containing one or more application versions.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/Start'
      - $ref: '#/components/parameters/PageLimit'
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/OrderBy'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Successful response with list of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createProject
      summary: Fortify Create project
      description: Creates a new project for organizing application versions.
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResultProject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{id}:
    get:
      operationId: getProject
      summary: Fortify Get project
      description: Retrieves details for a specific project by identifier.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Successful response with project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResultProject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateProject
      summary: Fortify Update project
      description: Updates an existing project's properties.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResultProject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteProject
      summary: Fortify Delete project
      description: Permanently deletes a project and all associated versions and data.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Project deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResultVoid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized - authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request - invalid parameters or request body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not found - the specified resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    PageLimit:
      name: limit
      in: query
      description: Maximum number of records to return
      schema:
        type: integer
        format: int32
        default: 200
    Q:
      name: q
      in: query
      description: Search query using Fortify search syntax (e.g., name:MyApp)
      schema:
        type: string
    OrderBy:
      name: orderby
      in: query
      description: Sort field and direction (e.g., name for ascending, -name for descending)
      schema:
        type: string
    Fields:
      name: fields
      in: query
      description: Comma-separated list of fields to include in the response
      schema:
        type: string
    ResourceId:
      name: id
      in: path
      required: true
      description: Unique identifier of the resource
      schema:
        type: integer
        format: int64
    Start:
      name: start
      in: query
      description: Starting index for pagination (0-based)
      schema:
        type: integer
        format: int32
        default: 0
  schemas:
    ProjectListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        count:
          type: integer
          format: int32
    ApiResultVoid:
      type: object
      properties:
        count:
          type: integer
          format: int32
        responseCode:
          type: integer
          format: int32
    CreateProjectRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
        issueTemplateId:
          type: string
    ErrorResponse:
      type: object
      description: Error response
      properties:
        errorCode:
          type: integer
          format: int32
        message:
          type: string
        data:
          type: object
    Project:
      type: object
      description: Represents a top-level project in SSC
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier
        name:
          type: string
          description: Project name
        description:
          type: string
          description: Project description
        creationDate:
          type: string
          format: date-time
          description: Date when the project was created
        issueTemplateId:
          type: string
          description: Issue template identifier
    ApiResultProject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Project'
        count:
          type: integer
          format: int32
        responseCode:
          type: integer
          format: int32
    UpdateProjectRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        issueTemplateId:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 Bearer token obtained from POST /oauth/token using either client_credentials or password grant type.
externalDocs:
  description: Fortify on Demand API Reference
  url: https://api.ams.fortify.com/swagger/ui/index
