openapi: 3.1.0
info:
  title: Fortify on Demand Alert Definitions Authentication API
  description: REST API for Fortify on Demand (FoD), the cloud-based application security testing service from OpenText. Provides programmatic access to manage applications, releases, initiate static, dynamic, and mobile scans, retrieve vulnerability results, and manage tenant-level settings. Supports OAuth2 client credentials and resource owner password grant flows for authentication.
  version: v3
  contact:
    name: OpenText Fortify Support
    url: https://www.opentext.com/support
    email: fortify-support@microfocus.com
  license:
    name: Proprietary
    url: https://www.opentext.com/about/legal/website-terms-of-use
  x-logo:
    url: https://www.microfocus.com/brand/fortify-logo.png
servers:
- url: https://api.ams.fortify.com
  description: Fortify on Demand - Americas
- url: https://api.emea.fortify.com
  description: Fortify on Demand - EMEA
- url: https://api.apac.fortify.com
  description: Fortify on Demand - APAC
security:
- bearerAuth: []
tags:
- name: Authentication
  description: Manage authentication tokens
paths:
  /tokens:
    post:
      operationId: createToken
      summary: Fortify Create authentication token
      description: Creates an authentication token for API access. Supports UnifiedLoginToken, AnalysisUploadToken, AuditToken, and DownloadFileTransferToken types. This endpoint accepts HTTP Basic authentication.
      tags:
      - Authentication
      security:
      - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
      responses:
        '201':
          description: Token created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResultAuthToken'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tokens/{id}:
    delete:
      operationId: revokeToken
      summary: Fortify Revoke authentication token
      description: Revokes an existing authentication token.
      tags:
      - Authentication
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Token revoked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResultVoid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized - authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request - invalid parameters or request body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not found - the specified resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    CreateTokenRequest:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          description: Token type
          enum:
          - UnifiedLoginToken
          - AnalysisUploadToken
          - AuditToken
          - DownloadFileTransferToken
          - UploadFileTransferToken
          - ReportFileTransferToken
        description:
          type: string
          description: Token description
        terminalDate:
          type: string
          format: date-time
          description: Token expiration date
    ApiResultVoid:
      type: object
      properties:
        count:
          type: integer
          format: int32
        responseCode:
          type: integer
          format: int32
    AuthToken:
      type: object
      description: Represents an authentication token
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier
        token:
          type: string
          description: The token value
        creationDate:
          type: string
          format: date-time
          description: When the token was created
        terminalDate:
          type: string
          format: date-time
          description: When the token expires
        remainingUsages:
          type: integer
          format: int32
          description: Remaining number of uses
        type:
          type: string
          description: Token type
          enum:
          - UnifiedLoginToken
          - AnalysisUploadToken
          - AuditToken
          - DownloadFileTransferToken
          - UploadFileTransferToken
          - ReportFileTransferToken
    ApiResultAuthToken:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AuthToken'
        count:
          type: integer
          format: int32
        responseCode:
          type: integer
          format: int32
    ErrorResponse:
      type: object
      description: Error response
      properties:
        errorCode:
          type: integer
          format: int32
        message:
          type: string
        data:
          type: object
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: Unique identifier of the resource
      schema:
        type: integer
        format: int64
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 Bearer token obtained from POST /oauth/token using either client_credentials or password grant type.
externalDocs:
  description: Fortify on Demand API Reference
  url: https://api.ams.fortify.com/swagger/ui/index
