openapi: 3.1.0
info:
  title: Fortify on Demand Alert Definitions File Tokens API
  description: REST API for Fortify on Demand (FoD), the cloud-based application security testing service from OpenText. Provides programmatic access to manage applications, releases, initiate static, dynamic, and mobile scans, retrieve vulnerability results, and manage tenant-level settings. Supports OAuth2 client credentials and resource owner password grant flows for authentication.
  version: v3
  contact:
    name: OpenText Fortify Support
    url: https://www.opentext.com/support
    email: fortify-support@microfocus.com
  license:
    name: Proprietary
    url: https://www.opentext.com/about/legal/website-terms-of-use
  x-logo:
    url: https://www.microfocus.com/brand/fortify-logo.png
servers:
- url: https://api.ams.fortify.com
  description: Fortify on Demand - Americas
- url: https://api.emea.fortify.com
  description: Fortify on Demand - EMEA
- url: https://api.apac.fortify.com
  description: Fortify on Demand - APAC
security:
- bearerAuth: []
tags:
- name: File Tokens
  description: Manage file transfer tokens
paths:
  /fileTokens:
    post:
      operationId: createFileToken
      summary: Fortify Create file token
      description: Creates a single-use file transfer token for uploading or downloading artifacts.
      tags:
      - File Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileTokenRequest'
      responses:
        '201':
          description: File token created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResultFileToken'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Unauthorized - authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request - invalid parameters or request body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    FileToken:
      type: object
      description: A single-use file transfer token
      properties:
        token:
          type: string
          description: Token value
        fileTokenType:
          type: string
          description: Token type
          enum:
          - UPLOAD
          - DOWNLOAD
          - REPORT_FILE
    ApiResultFileToken:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FileToken'
        count:
          type: integer
          format: int32
        responseCode:
          type: integer
          format: int32
    CreateFileTokenRequest:
      type: object
      required:
      - fileTokenType
      properties:
        fileTokenType:
          type: string
          enum:
          - UPLOAD
          - DOWNLOAD
          - REPORT_FILE
    ErrorResponse:
      type: object
      description: Error response
      properties:
        errorCode:
          type: integer
          format: int32
        message:
          type: string
        data:
          type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 Bearer token obtained from POST /oauth/token using either client_credentials or password grant type.
externalDocs:
  description: Fortify on Demand API Reference
  url: https://api.ams.fortify.com/swagger/ui/index
